name: sanjy-server-prod
services:
  sanjy_database_prod:
    image: postgres:17-alpine
    container_name: sanJy_database_prod
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      # Change Password
      POSTGRES_USER: admin_usr
      # Change Username
      POSTGRES_PASSWORD: admin_pass
      POSTGRES_DB: diet_control
      TZ: UTC
      PGTZ: UTC
    volumes:
      - sanJy_database_prod:/var/lib/postgresql/data
    networks:
      - sanjy-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin_usr -d diet_control"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  sanjy_server:
    image: under7/sanjy-server:latest
    container_name: "sanjy_server_graalvm"
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - ./.docker_volume/sanjy_server:/app/data
    networks:
      - sanjy-network
    depends_on:
      sanjy_database_prod:
        condition: service_healthy
    environment:
      # ::: SERVER :::
      SANJY_SERVER_PORT: 8080

      # ::: LOGGING :::
      SANJY_SERVER_LOGGING_LEVEL: INFO
      SANJY_SERVER_LOGGING_FILE_PATH: /app/data/logs
      SANJY_SERVER_LOGGING_APPENDER: CONSOLE-UNSTRUCTURED

      # ::: DATABASE :::
      SANJY_SERVER_DATABASE_JDBC_URL: jdbc:postgresql://sanJy_database_prod:5432/diet_control
      SANJY_SERVER_DATABASE_USERNAME: admin_usr
      SANJY_SERVER_DATABASE_PASSWORD: admin_pass

      # ::: OPEN_API :::
      SANJY_SERVER_OPEN_API_API_DOCS_ENABLE: true
      SANJY_SERVER_OPEN_API_API_DOCS_PATH: /api-docs
      SANJY_SERVER_OPEN_API_SWAGGER_UI_ENABLE: true
      SANJY_SERVER_OPEN_API_SWAGGER_UI_REDIRECT_PATH: /

      # ::: MCP :::
      SANJY_SERVER_MCP_SSE_MESSAGE_ENDPOINT: /mcp/messages
      SANJY_SERVER_MCP_SSE_ENDPOINT: /sse

      # ::: EXTERNAL HTTP CLIENTS :::
      # -- Retry Config
      SANJY_SERVER_EXTERNAL_HTTP_CLIENT_RETRY_CONFIG_MAX_ATTEMPT: 3
      SANJY_SERVER_EXTERNAL_HTTP_CLIENT_RETRY_CONFIG_INTERVAL: 1
      SANJY_SERVER_EXTERNAL_HTTP_CLIENT_RETRY_CONFIG_BACKOFF_MULTIPLIER: 1

      # -- GitHib
      SANJY_SERVER_EXTERNAL_HTTP_CLIENT_GITHUB_URL: https://api.github.com

volumes:
  sanJy_database_prod:
    name: sanJy_database_prod

networks:
  sanjy-network:
    name: sanjy-network
